.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(219, 221, 223);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  padding: 4em 5em 5em;
  color: #282c34;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#welcome {
  font-size: 5.0em;
  font-weight: lighter;
}

.Body-text {
  padding-left: .39em;
}


/*  */

/* 
  <p>Hello <em>world</em>!</p>
  <p id="root">Hello <em>world</em>!</p>
  <p class="underlined">Hello <em>world</em>!</p>
  <p class="epc-style-class-name button underlined yellow">Hello <em>world</em>!</p>
 */

/* 
p {
  
}

p:nth-child(2) {
  color: red;
}


#root {
  color: red;
}

.underlined {
  text-decoration: underline;
} */