.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-main {
  /* background-color: rgb(211, 217, 222); */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  font-family: 'Roboto', sans-serif;
  padding: 4.65em 8em 2em;
  color: #35383d;
}

.App-link {
  color: #61dafb;
}

.button {
  display: inline-block;
  padding: 12px 24px;
  font-family: 'Roboto', sans-serif; /* Or any other font you want to use */
  font-size: 18px;
  color: #35383d; /* Dark text */
  background: transparent; /* Background that matches its surrounding */
  border: 2px solid #35383d; /* Dark border */
  border-radius: 6px; /* Rounded corners */
  transition: background 0.3s ease; /* Transition for a smooth color change */
  text-decoration: none; /* Removes underline if the button is a link */
}

.button:hover {
  background: #35383d; /* Dark background */
  color: rgb(211, 217, 222); /* Light text */
}

.button:active {
  background: #292b2e; /* Slightly lighter background */
  color: rgb(211, 217, 222); /* Light text */
}

.scrollTop {
  position: fixed;
  right: 4%;
  bottom: 6%;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: rgb(211, 217, 222); /* Light background */
  border: 2px solid #35383d; /* Dark border */
  z-index: 1000;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;  /* Start as hidden */
  transition: opacity 0.135s ease-in-out, background 0.3s ease;
}

.scrollTop:hover {
  background: #35383d; /* Dark background */
  color: rgb(211, 217, 222); /* Light text */
}

.scrollTop:active {
  background: #292b2e; /* Slightly lighter background */
  color: rgb(211, 217, 222); /* Light text */
}

.scrollTop.show {
  opacity: 1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Welcome {
  font-size: 5.0em;
  font-weight: lighter;
  margin-bottom: .38em;
}

.button-inline {
  margin-top: 2em;
  margin-left: 0.52em;
}

body {
  background-color: rgb(211, 217, 222);
}

.Subtitle {
  font-size: 1.8em;
  font-weight: 350;
  margin-top: 0em;
  padding-left: 0.16em;
  margin-bottom: 0.78em;
  text-align: left;
}

.Body-text {
  padding-left: .4em;
  text-align: left;
  line-height: 1.35;
}



/*  */

/* 
  <p>Hello <em>world</em>!</p>
  <p id="root">Hello <em>world</em>!</p>
  <p class="underlined">Hello <em>world</em>!</p>
  <p class="epc-style-class-name button underlined yellow">Hello <em>world</em>!</p>
 */

/* 
p {
  
}

p:nth-child(2) {
  color: red;
}


#root {
  color: red;
}

.underlined {
  text-decoration: underline;
} */